@font-face {
  font-family: 'Crash';
  font-style: normal;
  font-weight: 100;
  src: local('Crash-a-Like'), local('Crash-a-Like'), url('./crash-a-like.ttf') format('truetype');
}

body{
	background-color:#795548;
	color:#F7CA18;
	font-family: 'Crash';
}

.coklat{
	background-color: #ff0000;
}

.mdl-button--raised[disabled][disabled], .mdl-button--raised.mdl-button--disabled.mdl-button--disabled{
	background-color: #44332d;	
	color: #fff;
}

.kotak-kotak{
	margin-top: 2%;
	margin-bottom: : 2%;
}

.rotateimg {
  position: absolute;
  bottom: -5%;
  left: -5%;
  -webkit-transform:rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  z-index: -1;
}

.rotateimg2 {
  position: absolute;
  bottom: -5%;
  right: -5%;
  -webkit-transform:rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  z-index: -1;
}

.logo {
  -webkit-transform:rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.sign{
  position: absolute;
  top: -4.5%;
  z-index: -1;
}
